@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	// Font faces
	--fontfa-standard: "Source Sans 3", system-ui, sans-serif;
	--fontfa-header: "Quicksand", system-ui, sans-serif;

	// Letter spacing
	--fontsp-standard: .02em;
	--fontsp-header: -.05em;

	// Line height
	--fontlh-standard: 1.5;
}

@mixin FontStandard {
	font-family: var(--fontfa-standard);
	letter-spacing: var(--fontsp-standard);
	line-height: var(--fontlh-standard);
}

@mixin FontHeader {
	font-family: var(--fontfa-header);
	letter-spacing: var(--fontsp-header);
}

body {
	@include FontStandard;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
	@include FontHeader;
}

.navbar-brand {
	padding: 0;
	padding-bottom: 2px;
	padding-left: 8px;

	font-size: x-large;
	font-weight: bold;
	text-shadow: 1px 0;
	letter-spacing: .5px;
}

#home-jumbotron {
	box-shadow: 0 0 30px #0005;
}